body {
  background-color: black;
}

#sectionLeft {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60%;
  bottom: 0px;
  min-width: 100px;
}

#sectionRight {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: burlywood;
}

#towerAnchor {
  position: absolute;
  left: 50%;
  top: 50%;
}

#tower {
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;
  position: absolute;
  z-index: 10000;
  border: none;
  color: gray;
}
